.insta{
	position: absolute;
	top: -40px;
	left: 340px;
}

.q{
	position: absolute;
	top: 150px;
	left: 70px;
}

.w{
	position: absolute;
	top: 150px;
	left: 400px;
}

.e{
	position: absolute;
	top: 152px;
	left: 745px;
}

.r{
	position: absolute;
	top: 550px;
	left: 70px;
}

.t{
	position: absolute;
	top: 550px;
	left: 400px;
}

.y{
	position: absolute;
	top: 550px;
	left: 735px;
}

.a{
	position: fixed;
	top: 0px;
	right: -70px;
	z-index: -99;
}

.s{
	position: fixed;
	right: 100px;
	top: 40px;
	z-index: -99;
}
body{
	background-color: black;
}

